DATABASE_URL="postgresql://<username>:<password>@<hostname>:<port>/<databasename>"
PORT=5000
SMTP_EMAIL=""
SMTP_PASSWORD=""
TWILLIO_SID=""
TWILLIO_AUTH_TOKEN=""
TWILLIO_PHONE_NUMBER=""

JWT_SECRET=""
JWT_REFRESH_SECRET=""
USER_AGENT="MYCLOUDAPP<MYCLOUDAPP@gmail.com>"