DATABASE_URL="postgresql://<username>:<password>@<hostname>:<port>/<databasename>"
PORT=5000

EMAIL_FROM="xxx@gmail.com"
EMAIL_FROM_NAME="XYZ"
OTP_CC_EMAIL=""

SMTP_EMAIL=""
SMTP_PASSWORD=""
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587

TWILLIO_SID=""
TWILLIO_AUTH_TOKEN=""
TWILLIO_PHONE_NUMBER=""
ENABLE_SMS_SERVICE=false

JWT_SECRET=""
JWT_REFRESH_SECRET=""
USER_AGENT="MYCLOUDAPP<MYCLOUDAPP@gmail.com>"
FRONTEND_URL="http://localhost:3000"